{% include 'AdminPageHeader.html' %}
<head>
    <style>
         #cs {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #cs td, #cs th {

                padding: 8px;
            }





            #cs th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
            }
    </style>
</head>

<h2 style="width:90%; margin-left:5%; ">View Village </h2>
<table id="cs" style="width:90%; margin-left:5%; ">
    <tr>
        <td><h4>SL.No</h4></td>

        <td><h4>Name</h4> </td>
         <td><h4>Address</h4> </td>
          <td><h4>Pincode</h4> </td>
             <td><h4>District</h4> </td>
        <td><h4>Vilage id</h4> </td>



    </tr>
    {% for row in data %}

  <tr>
      <td height="87"><div>{{loop.index }}</div></td>
      <td><div>{{ row['name'] }}</div></td>
      <td><div>{{ row['address'] }}</div></td>
      <td><div>{{ row['pincode'] }}</div></td>
      <td><div>{{ row['district'] }}</div></td>
      <td><div>{{ row['village_id'] }}</div></td>
              <td width="80"><div align="center" ><a href="/Location?lat={{ row['latitude'] }}&lon={{ row['longitude'] }}">Location</a></div></td>
 <td width="80"><div align="center" ><a href="/ViewCulturalActivities?id={{ row['idvillage_registration'] }}">Cultural Activities</a></div></td>
 <td width="80"><div align="center" ><a href="/Viewadminstay?id={{ row['idvillage_registration'] }}">Village Stay</a></div></td>
 <td width="80"><div align="center" ><a href="/deleteadminvillage?id={{ row['idvillage_registration'] }}">Delete</a></div></td>


         </tr>

        {% endfor %}


</table>
{% include 'LoginFooter.html' %}