{% include 'User/UserHeader.html' %}
<html>
<body>
<!--
<h3>Village Home</h3>

<table width="800" border="0">
    <tr>
      <td width="600">&nbsp;</td>
      <td width="593">&nbsp;</td>
    </tr>

    <tr>
      <td><a href="LinkAddCulturalActivities">Add Cultural Activities</a></td>
    </tr>
    <tr>
      <td><a href="ViewCulturalActivitiesV">View Cultural Activities</a></td>
    </tr>
    <tr>
      <td><a href="LinkAddVillageStay">Add Village Stay</a></td>
    </tr>
    <tr>
      <td><a href="ViewVillageStay">View Village Stay</a></td>
    </tr>

     <tr>
      <td><a href="ViewActivityB">View Activity Booking</a></td>
    </tr>


    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>

  </table>
-->
</body>
</html>