{% include 'Tribal/TribalPageHeader.html' %}
<html>
<head>
    <style>
        #cs {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #cs td, #cs th {

                padding: 8px;
            }



            #cs tr:hover {
                background-color: #ddd;
            }

            #cs th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
            }
    </style>
</head>
<body>

<form id="form1" name="form1" method="post" action="/EditVillageStay">
    <table width="318" border="0" align="center" id="cs" style="width:90%; margin-left:5%; ">
            <tr><th colspan="2"><h2>Edit Village Stay</h2></th></tr>
 <input type="hidden" name="id" id="dd" value="{{ data['idvillage_stay'] }}">
<!--                <tr><th>Name</th><td><input name="TxtName" type="text" value="{{ data['activity_name'] }}" required ></td></tr><br>-->
<!--            <tr><th>Duration</th><td><input name="TxtDuration" type="text"  value="{{ data['duration'] }}" required ></td></tr><br>-->
             <tr><th>Food Description</th><td><textarea name="TxtDescription"   required> {{ data['food_description'] }}</textarea></td></tr><br>
             <tr><th>Stay Information</th><td><textarea name="info"   required> {{ data['stay_information'] }}</textarea></td></tr><br>
              <tr><th>Amount</th><td><input name="TxtAmount" type="number"  value="{{ data['rate_per_head'] }}" required ></td></tr><br>


            <tr>
                <td>&nbsp;</td>
                <td>
                    <label>
                        <input type="submit" name="Submit" value="Submit"  class="section-btn"/>
                    </label>
                </td>
            </tr>
        </table>

</form>
</body>
</html>

{% include 'LoginFooter.html' %}